// Colors
$clr1:#2D383A;
// $clr1: #593cfb;
$clr2: #89A894;
$clr3:#4B644A;
$clr4:#49393B;
$clr5:#341C1C;
// Breakpoints
$mobile-breakpoint: 560px;
$narrow-breakpoint: 660px;
$normal-breakpoint: 960px;
$wide-breakpoint:1280px