.car-filter {

.type{
    margin-bottom: 10px;
}
.el-slider__bar {
background-color: $clr4 ;
}

.el-slider__button{
background-color: $clr5;
border: 2px solid $clr4;
}



    .el-input__inner:focus {
        // border-color: $clr1;
    }
    .el-input__inner::placeholder {
        color: $clr1;
    }
    .el-input__inner {
        color: $clr1 !important;
    }
    .location {
        -webkit-appearance: none;
        background-color: #FFF;
        background-image: none;
        border-radius: 4px;
        border: 1px solid #DCDFE6;
        box-sizing: border-box;
        color: #606266;
        display: inline-block;
        font-size: inherit;
        height: 40px;
        line-height: 40px;
        outline: 0;
        padding: 0 15px;
        transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
        width: 221px;
    }

    input {
        margin-top: 5px;
    }
}

.filter-container {
    justify-content: center;
}

.car-filter{
    border:1px solid #dadce0;
    padding: 5px;
    justify-content: space-between;
    .block{
        margin-top: 10px;
        .min{
            
    text-align: left;
width: 80px;
        }
    }
.btns{
    width: 30%;
    margin-bottom: 10px;
    justify-content: space-around;
 button{

     cursor: pointer;
     border: 0;
outline: none;
padding: 5px;
width: 60px;
transition: .9s;
color: white;
background-color: lighten($clr1, 20%);
&:hover{
background-color: lighten($clr1, 10%);
}
}   
}
}
.sorts{
    border: 1px solid grey;
    padding: 15px;
    border-radius: 20px;
    .el-slider__bar{
        background-color: gray;
    }
    .el-slider__button{
        border: 2px solid gray
    }
}



.el-slider{
    margin-left: 15px;
    margin-right: 15px;
 width: 250px;   
}


.el-select-dropdown__item {
    color: $clr1 !important;
}