.chat {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px solid grey;
     ::-webkit-scrollbar {
        width: 0px;
        /* Remove scrollbar space */
        background: transparent;
        /* Optional: just make scrollbar invisible */
    }
    ul {
        height: 300px;
        overflow-y: scroll;
        display: flex;
        flex-direction: column-reverse;
    }
    li {
        list-style: none;
    }
    input {
        width: 90%;
        outline: none;
    }
    button {
        outline: none;
        width: 10%;
        color: white;
        background-color: $clr1;
    }
}

.chat-search {
    align-self: flex-end;
    width: 40% !important;
    border: 1px solid black;
    input {
        width: 100%;
    }
    input::placeholder {
        color: black;
        font-weight: normal;
    }
    ul {
        position: fixed;
    }
}

.chatimg {
    img {
        width: 80px;
        cursor: pointer;
    }
}

.user-name {
    cursor: pointer;
}