.accept {
    color: green !important;
}

.decline {
    color: red !important;

}


.order-btn {
    justify-content: space-between;

    button {
        font-size: 1rem;
        padding: 0px 10px;
    }
}

.request-details {
    justify-content: space-between;

    span {
        display: block;
        margin-bottom: 1px;
    }

}

.order-status {
    font-weight: bold;
}

.decline-btn {

    &:hover {
        color: red;
    }
}

.accept-btn {

    &:hover {
        color: green;

    }
}


@media(max-width:560px) {

    .profile-cars {
        .order-list {
            flex-direction: column
        }

    }

}