.accept {
    color: green !important;
}

.decline {
    color: red !important;

}



@media(max-width:560px) {

    .profile-cars {
        .order-list {
            flex-direction: column
        }

    }

}