.car-container {
    flex-direction: column;
}

.imgs-container {
    margin-top: 20px;
    img {
        cursor: pointer;
    }
    margin-bottom: 10px;
    width: 100%;
    grid-template-columns: repeat(4, rem(350px));
    justify-content: center;
    gap: 10px;
}

textarea {
    width: 500px;
    resize: none;
    outline: none;
}

.user-img {
    margin: 0px 10px;
}

.details {
    p {
        padding-right: 15px;
    }
}

.features {
    grid-template-columns: repeat(2, minmax(rem(100px), rem(150px)));
    grid-gap: 5px;
    img {
        width: rem(30px);
        height: rem(30px);
        // margin-right: 13px;
    }
    span {
        height: 40px;
    }
}

.big {
    grid-row: span 2;
    grid-column: span 2;
    object-fit: cover;
    width: rem(710px);
    height: rem(510px);
}

.small {
    width: rem(350px);
    height: rem(250px);
    object-fit: cover;
}

.car-container {
    .details {
        margin-right: 5px;
        width: 50%;
    }
}

.car-info {
    height: 230px;
    .details {
        .count {
            color: gray;
        }
        flex-direction: column;
        justify-content: space-between;
        height: 230px;
    }
}

.payment-details {
    width: 100%;
    margin-left: 10px;
    height: 500px;
    justify-content: flex-end;
    button {
        cursor: pointer;
        font-size: 24px;
        height: 53px;
        line-height: 43px;
        padding: 0 14px;
        background-color: $clr1;
        color: #fff;
        border: 1px solid $clr1;
        transition: .9s;
        &:hover {
            color: #f66c39;
        }
    }
}

.free-cancellation {
    color: rgba(0, 132, 255, 0.479);
    img {
        width: 22px;
        height: 22px;
    }
    margin-top: 20px;
}

.order {
    padding: 15px;
    img {
        width: 10%;
    }
    .order-details {
        width: 40%;
        flex-direction: column;
    }
}

.rest-page {
    flex-direction: column;
    align-self: center;
    .chat-details {
        margin-top: 10px;
        width: 50%;
    }
}

.book-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(253, 251, 251, 0.774);
    border: 1px grey solid;
    width: 60%;
    height: 80%;
    align-items: center;
    button {
        cursor: pointer;
        padding: 20px;
        background-color: transparent;
        font-size: 20px;
        outline: none;
        border: none;
    }
}

.dates-div {
    justify-content: space-between;
    h3 {
        font-size: 1.5rem;
        margin-top: unset;
    }
    input {
        width: 100%;
    }
}

.add-details {
    textarea {
        width: 390px
    }
}

.booking {
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 80%;
    .number {
        width: 20%;
    }
    input {
        width: 250px;
        height: 35px;
        padding: 3px 10px;
        font-size: 13px;
        border: 1px solid #C7C7C7;
        color: #231F20;
        border-radius: 0;
        outline: none;
    }
    .date {
        width: 160px;
    }
    input:focus {
        border: 1px solid $clr1;
    }
    label {
        text-align: left;
        width: 250px;
        padding-top: 20px;
    }
    button {
        cursor: pointer;
        border: 0;
        background-color: $clr1;
        color: white;
        height: 50px;
        line-height: 49px;
        font-size: 18px;
        padding: 0 19px;
        outline: none;
    }
    button:hover {
        background-color: lighten($color: $clr1, $amount: 20);
    }
}

.booking-button {
    width: 100%;
    justify-content: center;
    align-items: center;
    p {
        height: 50px;
        line-height: 3;
        background-color: #fff;
        border: 1px $clr1 solid;
        padding: 0 35px;
        span {
            color: $clr1;
        }
    }
}

.review-details {
    flex-direction: column;
}

.review-btns {
    button {
        width: 10%;
        margin-right: 10px;
    }
    .chat-with {
        outline: none;
        margin-top: 5px;
        width: 120px;
        color: white;
        border: none;
        cursor: pointer;
        background-color: rgb(29, 187, 29)
    }
}

.review-head {
    width: 350px;
}

.btn-review {
    margin-top: 5px;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 120px;
    height: 30px;
    outline: none;
    padding: 0;
    background-color: lighten($clr1, 20%);
    color: white;
    &:hover {
        background-color: lighten($clr1, 10%);
    }
}

.reviews {
    margin-bottom: 10px;
    margin-top: 30px;
    img {
        border-radius: 30px;
    }
}

.review-add {
    flex-direction: column;
    margin: 0;
}

.review-img {
    width: 70px;
    height: 50px;
}

.reviwe-time {
    font-size: 14px;
}

.reviwer-name {
    font-size: 16px;
}

.date-pickers {
    width: 60%;
    display: flex;
    p {
        font-size: 25px;
    }
}

.review-name-date {
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.btn-book {
    justify-content: space-between;
}

.location-day {
    justify-content: space-between;
    text-align: center;
    margin: 5px 0;
}

.location {
    span {
        margin-left: 7px;
    }
    color: grey;
    font-size: 18px;
    img {
        width: 22px;
        height: 22px;
    }
}

.dolar {
    span {
        margin-left: 7px;
        color: grey;
        font-size: 18px;
    }
    .pricer {
        // color: rgba(130, 206, 130, 0.603);
        font-weight: bolder;
        color: black;
    }
    img {
        width: 22px;
        height: 22px;
    }
}

.action-btns {
    justify-content: space-around;
    width: 800px;
}

.dolar,
.location {
    width: 200px;
    text-align: left;
}

.btn-feedback {
    margin-top: 5px;
    justify-content: center;
    text-align: center;
    width: 100px;
    outline: none;
    padding: 0;
    background-color: #5a6f73;
    color: white;
}

.model {
    font-size: 25px;
}

@media (max-width:1400px) {
    .review-container {
        width: 800px;
        margin: 0 auto;
    }
    .imgs-container {
        grid-template-columns: none;
    }
    .payment-details {
        p {
            width: 300px;
        }
    }
    .big {
        width: 800px;
    }
    .small {
        width: 400px;
    }
    .car-info {
        height: 230px;
        .details {
            width: 400px;
            height: 230px;
        }
        .free-cancellation {
            margin: unset;
        }
    }
    .reviews {
        display: grid;
        grid-template-columns: 400px 400px;
        margin: 0 auto;
    }
    .action-btns {
        align-self: center;
    }
    .review-btns {
        width: 600px;
    }
}

@media(max-width:850px) {
    .location-day {
        height: 70px;
    }
    .rest-page {
        margin-top: 30px;
    }
    .car-info {
        .details {
            width: 250px;
        }
    }
    .feature-container {
        flex-direction: column;
    }
    .reviews {
        display: flex;
        flex-direction: column;
        width: 40%;
    }
    .payment-details {
        height: 250px;
    }
    .review-add {
        align-self: center;
    }
    .features {
        height: 200px;
    }
    .btn-book {
        grid-column: span 2;
    }
    .free-cancellation {
        margin-top: 50px;
    }
}

@media (max-width:720px) {
    .car-info {
        flex-direction: column;
    }
    .dates-div {
        flex-direction: column;
    }
    .features {
        height: 130px;
        grid-template-columns: 150px 150px
    }
    .rest-page {
        .chat-details {
            width: 40%;
        }
    }
}

@media(max-width:580px) {
    .reviews {
        display: flex;
        flex-direction: column;
    }
    .payment-details {
        justify-content: unset;
    }
    .action-btns {
        width: 360px;
    }
}

@media (max-width:500px) {
    .car-info {
        .details {
            align-self: center;
        }
    }
    .payment-details {
        grid-template-columns: none;
        width: 100%;
        height: 300px;
    }
    .reviews {
        width: 320px;
    }
    textarea {
        width: 350px;
    }
    .rest-page {
        .chat-details {
            width: 25%;
            input {
                width: 75%;
            }
            button {
                width: 20%;
            }
        }
    }
    textarea {
        width: 300px;
    }
    .action-btns {
        .btn-review {
            width: 110px;
        }
    }
}