.grid {
    display: grid;
}

//flex-helper
.flex {
    display: flex;
}

.title {
    text-align: center;
    font-size: 35px;
}

.space-between {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.space-around {
    justify-content: space-around;
}

.center {
    text-align: center;
}

.col {
    flex-direction: column;
}

.capi {
    text-transform: capitalize;
}

// media-helpers
.square-ratio {
    @include aspect-ratio(1, 1);
}

.video-ratio {
    @include aspect-ratio(16, 9);
}

.poster-ratio {
    @include aspect-ratio(1, 1.5);
}